@import url('http://fonts.googleapis.com/css?family=Raleway');
h1 {
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  margin: 40px;
  padding-bottom: 20px;
}

.card-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 980px;
	margin: 0 auto;
}

.btncart{
  width: 200px;
}
.card-container {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 30%;
	border-radius: 5px;
  margin:10px auto;
	-webkit-animation:scaledown 0.3s linear;
	-moz-animation:scaledown 0.3s linear;
	animation:scaledown 0.2s linear;
	transform-origin:50% 50%;
	animation-fill-mode: forwards;
  background-color: white;
}
.card-container-list {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 300px;;
	border-radius: 5px;
  margin:10px auto;
	-webkit-animation:scaledown 0.3s linear;
	-moz-animation:scaledown 0.3s linear;
	animation:scaledown 0.2s linear;
	transform-origin:50% 50%;
	animation-fill-mode: forwards;
  background-color: white;
  margin-right: 20px;
}

.card-container:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index:100;
	-webkit-animation:scale 0.3s linear;
	-moz-animation:scale 0.3s linear;
	animation:scale 0.1s linear;
	transform-origin:50% 50%;
	animation-fill-mode: forwards;
}

.imgcard {
	/* border-radius: 5px 5px 0 0;
   height: 250px;
  object-fit: cover; */
  width: 175px;
  height: 150px;
  margin-left: 50px;
  margin-right: 25px;
}

.card-content {
	padding: 0px 16px;
	font-size: 0.92em; 
	text-shadow:0 0 1px transparent;
	line-height:22px;
}

.card-content h3 {
    text-align: center;
    font-family: Raleway, sans-serif;
	}
.card-content p {
    text-align: center;
    font-family: Raleway, sans-serif;
	}
#bottom-right {

    bottom: 8px;
    width:100%;
}

.card-footer p {
  font-size: 0.92em; 
	border-top: 1px solid #d6d6d6;
	min-width: 85%;
  font-family: Raleway, sans-serif;
  text-align: left;
}
.card-footer a {
  color: #287a6a;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 600;
}
.card-footer a:visited { 
    color: #287a6a;
    /* background-color: #287a6a; */
    font-family: Raleway, sans-serif;
}

@keyframes scale{
	0%{
		transform:scale(1.0);
  }
	100%{
		transform:scale(1.02);
	}
}

@keyframes scaledown{
	0%{
		transform:scale(1.02);
	}
	100%{
		transform:scale(1.0);
	}
}

@media screen and (max-width: 868px) {
  .card-container {
    width: 40%;
  }
  .imgcard{
    margin-left: 60px;
  }
}
@media screen and (max-width: 690px) {
  .card-container {
    width: 80%;
  }
  .imgcard{
    margin-left: 130px;
  }
}
@media screen and (max-width: 500px) {
  .card-container {
    width: 80%;
  }
  .imgcard{
    margin-left: 80px;
  }
}


/* modals */
